<div class="container">
  <h1 class="title is-4 has-text-primary is-size-3">Formulario de Categoría</h1>
  <div class="box is-shadowed box-background-color">
    <form [formGroup]="categoryForm" (submit)="onSubmit()" class="has-background-light p-4 is-rounded">

                  <!-- Nombre -->
                  <div class="field" *ngIf="operation === 'EDIT'">
                    <label class="label">ID : </label>
                    <div class="control has-icons-right">
                      <input class="input" formControlName="id" placeholder="ID" readonly>
                      <span class="icon is-small is-right">
                        <i class="fas fa-lock" aria-hidden="true"></i>
                      </span>
                    </div>
                    <p class="help is-pulled-right">(This number cannot be changed )</p>
                  </div>


<!-- Nombre -->
<div class="field">
  <label class="label">Nombre</label>
  <div class="control">
    <input class="input" type="text" formControlName="name" placeholder="Nombre de la modalidad">
    <div class="help is-danger" *ngIf="categoryForm.get('name')?.touched && hasError('name', 'required')">No has introducido el nombre</div>
    <div class="help is-danger" *ngIf="categoryForm.get('name')?.touched && hasError('name', 'minlength')">El nombre es demasiado corto, debe tener al menos 3 caracteres</div>
    <div class="help is-danger" *ngIf="categoryForm.get('name')?.touched && hasError('name', 'maxlength')">El nombre es demasiado largo</div>
  </div>
</div>

<!-- Botones -->
<div class="field">
  <div class="control has-text-centered">
    <button class="button is-primary" type="submit">Enviar</button>
  </div>
</div>

    </form>
  </div>
</div>
