<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="product.image" alt="Imagen de la camiseta">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h5 class="title is-5"> {{product.name}}</h5>
            <p>Talla: {{product.size}}</p>
            <p>Stock: {{product.stock}}</p>
            <p>Precio: {{product.price}}</p>
            <p>Categoria: {{product.category.name}}</p>
            <p>Valoraciones: {{product.ratings}}</p>
            <p>Camisetas en carritos: {{product.carts}}</p>
            <p>Número de compras: {{product.purchaseDetails}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>