<div class="container">
  <div class="box">
    <h1 class="title is-4">Compra #{{purchase.prchase_code}}</h1>
  </div>
  <div class="content">
    <p><strong>Cliente: </strong>{{purchase.user.name}} {{purchase.user.last_name1}}</p>
    <p><strong>Fecha: </strong>{{purchase.purchase_date | date: 'dd/MM/yyyy'}}</p>
    <p><strong>Dirección de entrega: </strong>{{purchase.user.address}}</p>
    <ng-container *ngIf="purchase.num_bill">
      <p><strong>Número de factura: </strong>{{purchase.num_bill}}</p>
      <p><strong>Fecha de factura: </strong>{{purchase.date_bill | date: 'dd/MM/yyyy'}}</p>
    </ng-container>
  </div>
  <div class="box">
    <h2 class="subtitle is-5">Detalles de la compra</h2>
   <!-- <app-user-detalle-compra-plist-unrouted [id_compra]="id"></app-user-detalle-dompra-plist-unrouted> -->
</div>