<!-- footer-unrouted.component.html -->

<div class="flex flex-col min-h-screen">
  <!-- Contenido principal -->
  <main class="flex-grow">
    <!-- Tu contenido principal aquí -->
  </main>

  <!-- Pie de página -->
  <footer class="bg-slate-400 text-cyan-900 py-4 shadow-xl">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
      <div class="text-3xl font-extrabold tracking-tight mb-4 md:mb-0">
        Urbanize <!-- Cambia esto al texto deseado -->
      </div>

      <div class="md:flex space-x-4">
        <a class="hover:text-gray-200 text-cyan-900 font-semibold" href="#">
          Privacy Policy
        </a>
        <a class="hover:text-gray-200 text-cyan-900 font-semibold" href="#">
          Terms of Service
        </a>
        <a class="hover:text-gray-200 text-cyan-900 font-semibold" href="#">
          Contact Us
        </a>
        <!-- Agrega más opciones según sea necesario -->
      </div>
    </div>
  </footer>
</div>
