<div class="container">
  <div class="relative flex items-center">
    <input type="text" [(ngModel)]="value" (ngModelChange)="onInputChange($event)"
      class="w-52 h-10 pl-10 border rounded-full focus:outline-none focus:border-cyan-900 text-cyan-900" />
    <i class="fas fa-search absolute left-3 text-cyan-900 cursor-pointer"></i>
  </div>

  <div class="col-lg-2 col-md-12 d-none d-md-block">
    <h3 class="text-right mb-4 mr-2 text-xl text-cyan-900 font-semibold">Mostrando {{page?.numberOfElements}} de
      {{page?.totalElements}}</h3>
  </div>

  <!-- Contenido de usuarios como tabla -->
  <div class="overflow-x-auto mb-5">
    <table class="table is-fullwidth is-hoverable is-rounded has-shadow">
      <thead class="has-background-primary">
        <tr>
          <th (click)="doOrder('username')" class="has-text-centered is-size-5 has-text-white">Usuario</th>
          <th (click)="doOrder('birth_date')" class="has-text-centered is-size-5 has-text-white">Fecha nac.</th>
          <th (click)="doOrder('email')" class="has-text-centered is-size-5 has-text-white">Email</th>
          <th (click)="doOrder('dni')" class="has-text-centered is-size-5 has-text-white">DNI</th>
          <!-- <th (click)="doOrder('city')" class="has-text-centered is-size-5 has-text-white">Ciudad</th> -->
          <th (click)="doOrder('role')" class="has-text-centered is-size-5 has-text-white">Tipo Usuario</th>
          <th (click)="doOrder('carts')" class="has-text-centered is-size-5 has-text-white">Cestas</th>
          <th (click)="doOrder('ratings')" class="has-text-centered is-size-5 has-text-white">Valoraciones</th>
          <th (click)="doOrder('purchases')" class="has-text-centered is-size-5 has-text-white">Compras</th>
          <th class="has-text-centered is-size-5 has-text-white">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of page?.content" class="user-item has-text-centered">
          <td (click)="doView(user)">
            <p>{{ user.username }}</p>
          </td>
          <td>
            <p>{{ user.birth_date | date: 'dd-MM-yyyy' }}</p>
          </td>
          <td>
            <p>{{ user.email }}</p>
          </td>
          <td>
            <p>{{ user.dni }}</p>
          </td>
          <!-- <td>
            <p>{{ user.city }}</p>
          </td> -->
          <td>
            <p>{{ user.role ? 'Administrador' : 'Usuario' }}</p>
          </td>
          <td>
            <p>{{ user.carts }}</p>
          </td>
          <td>
            <p><a [routerLink]="['/admin', 'rating', 'plist', 'byuser', user.id]"> {{user.ratings}}</a></p>
          </td>
          <td>
            <p><a [routerLink]="['/admin', 'purchase', 'plist', user.id]"> {{ user.purchases }}</a></p>
          </td>
          <td class="user-actions has-text-centered">
            <a [routerLink]="['/admin', 'user', 'edit', user.id]" class="button is-primary is-small mr-2 is-rounded"
              title="Actualizar">
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </a>
            <button class="button is-primary is-small mr-2 is-rounded" (click)="doView(user)" title="Ver Detalles">
              <span class="icon">
                <i class="fas fa-eye"></i>
              </span>
            </button>
            <button (click)="doRemove(user)" *ngIf="user.ratings==0 && user.purchases==0 && user.carts==0"
              class="button is-danger is-small is-rounded" title="Eliminar">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
      <thead class="has-background-primary">
        <tr>
          <th (click)="doOrder('username')" class="has-text-centered is-size-5 has-text-white">Usuario</th>
          <th (click)="doOrder('birth_date')" class="has-text-centered is-size-5 has-text-white">Fecha nac.</th>
          <th (click)="doOrder('email')" class="has-text-centered is-size-5 has-text-white">Email</th>
          <th (click)="doOrder('dni')" class="has-text-centered is-size-5 has-text-white">DNI</th>
          <!-- <th (click)="doOrder('city')" class="has-text-centered is-size-5 has-text-white">Ciudad</th> -->
          <th (click)="doOrder('role')" class="has-text-centered is-size-5 has-text-white">Tipo Usuario</th>
          <th (click)="doOrder('carts')" class="has-text-centered is-size-5 has-text-white">Cestas</th>
          <th (click)="doOrder('ratings')" class="has-text-centered is-size-5 has-text-white">Valoraciones</th>
          <th (click)="doOrder('purchases')" class="has-text-centered is-size-5 has-text-white">Compras</th>
          <th class="has-text-centered is-size-5 has-text-white">Acciones</th>
        </tr>
      </thead>
    </table>
  </div>

  <!-- Mensaje si no hay usuarios -->
  <div class="notification is-primary" *ngIf="!page?.content || page?.content?.length === 0">
    No hay usuarios para mostrar.
  </div>

  <div class="flex-auto mx-auto">
    <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
      [first]="paginatorState.first!" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0"
      [rowsPerPageOptions]="[10, 20, 30]">
    </p-paginator>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>