<div class="section bg-slate-300">
  <div class="container bg-slate-300">
    <app-admin-category-detail-unrouted [id]="id"></app-admin-category-detail-unrouted>
    <div class="field">
      <div class="control has-text-centered">
        <button type="submit" class="button is-primary mt-4" routerLink="/admin/category/plist">
          <span>Volver</span>
          <span class="icon">
            <i class="fas fa-arrow-left"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>