<div class="container">
  <h1 class="title is-4 has-text-primary is-size-3">Editar Perfil
  <a [routerLink]="['/user', 'user', 'view', userSession?.id]" class="text-2xl is-pulled-right mt-2">
    <span class="icon">
      <i class="fas fa-chevron-left" ></i>
    </span>
    <span>Atrás</span>
  </a>
</h1>
  <div class="box is-shadowed box-background-color">
    <form [formGroup]="userForm" (submit)="onSubmit()" class="has-background-light p-4 is-rounded">
      <div class="columns is-multiline">
        
        <!-- Nombre -->
        <div class="column is-half">
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input type="text" class="input" id="name" formControlName="name" placeholder="Ingrese el nombre">
              <div class="help is-danger" *ngIf="userForm.get('name')?.touched && hasError('name', 'required')">No has introducido el nombre</div>
              <div class="help is-danger" *ngIf="userForm.get('name')?.touched && hasError('name', 'minlength')">El nombre debe tener al menos 3 caracteres</div>
              <div class="help is-danger" *ngIf="userForm.get('name')?.touched && hasError('name', 'maxlength')">El nombre no puede tener más de 255 caracteres</div>
            </div>
          </div>
        </div>

        <!-- Apellido 1 -->
        <div class="column is-half">
          <div class="field">
            <label class="label">Apellido</label>
            <div class="control">
              <input type="text" class="input" id="surname" formControlName="surname" placeholder="Ingrese el apellido">
              <div class="help is-danger" *ngIf="userForm.get('surname')?.touched && hasError('surname', 'required')">No has introducido el apellido</div>
              <div class="help is-danger" *ngIf="userForm.get('surname')?.touched && hasError('surname', 'minlength')">El apellido debe tener al menos 3 caracteres</div>
              <div class="help is-danger" *ngIf="userForm.get('surname')?.touched && hasError('surname', 'maxlength')">El apellido no puede tener más de 255 caracteres</div>
            </div>
          </div>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="column is-half">
          <div class="field">
            <label class="label">Fecha de Nacimiento</label>
            <div class="control">
              <input type="date" class="input" id="birth_date" formControlName="birth_date">
            </div>
          </div>
        </div>

        <!-- DNI -->
        <div class="column is-half">
          <div class="field">
            <label class="label">DNI</label>
            <div class="control">
              <input type="text" class="input" id="dni" formControlName="dni" placeholder="Ingrese el DNI">
              <div class="help is-danger" *ngIf="userForm.get('dni')?.touched && hasError('dni', 'required')">No has introducido el DNI</div>
              <div class="help is-danger" *ngIf="userForm.get('dni')?.touched && hasError('dni', 'minlength')">El DNI debe tener 9 caracteres</div>
              <div class="help is-danger" *ngIf="userForm.get('dni')?.touched && hasError('dni', 'maxlength')">El DNI debe tener 9 caracteres</div>
              <div class="help is-danger" *ngIf="userForm.get('dni')?.touched && hasError('dni', 'pattern')">El DNI debe tener 8 números seguidos de una letra</div>
            </div>
          </div>
        </div>

        <!-- Dirección -->
        <div class="column is-half">
          <div class="field">
            <label class="label">Dirección</label>
            <div class="control">
              <input type="text" class="input" id="address" formControlName="address" placeholder="Ingrese la dirección">
              <div class="help is-danger" *ngIf="userForm.get('address')?.touched && hasError('address', 'required')">No has introducido la dirección</div>
              <div class="help is-danger" *ngIf="userForm.get('address')?.touched && hasError('address', 'minlength')">La dirección debe tener al menos 3 caracteres</div>
              <div class="help is-danger" *ngIf="userForm.get('address')?.touched && hasError('address', 'maxlength')">La dirección no puede tener más de 255 caracteres</div>
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="column is-half">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input type="email" class="input" id="email" formControlName="email" placeholder="Ingrese el email">
              <div class="help is-danger" *ngIf="userForm.get('email')?.touched && hasError('email', 'required')">No has introducido el email</div>
              <div class="help is-danger" *ngIf="userForm.get('email')?.touched && hasError('email', 'email')">El email no es válido</div>
            </div>
          </div>
        </div>

        <!-- Username -->
        <div class="column is-half">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input type="text" class="input" id="username" formControlName="username" placeholder="Ingrese el username">
              <div class="help is-danger" *ngIf="userForm.get('username')?.touched && hasError('username', 'required')">No has introducido el username</div>
              <div class="help is-danger" *ngIf="userForm.get('username')?.touched && hasError('username', 'minlength')">El username debe tener al menos 6 caracteres</div>
              <div class="help is-danger" *ngIf="userForm.get('username')?.touched && hasError('username', 'maxlength')">El username no puede tener más de 15 caracteres</div>
            </div>
          </div>
        </div>

      </div>
      <!-- Botón Guardar -->
      <div class="field">
        <div class="control has-text-centered">
          <button type="submit" class="button is-primary mt-4 mr-4">
            <span>Guardar</span>
            <span class="icon">
              <i class="fas fa-save"></i>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
