<div class="container">

  <div class="notification" *ngIf="user_id>0">
    Filtrando por usuario: {{ user?.name }}
    <button class="delete" *ngIf="user_id>0" [routerLink]="['/admin', 'rating', 'plist']">Quitar filtro</button>
  </div>
  <div class="notification" *ngIf="product_id>0">
    Filtrando por producto: {{ product?.name }}
    <button class="delete" *ngIf="product_id>0" [routerLink]="['/admin', 'rating', 'plist']">Quitar filtro</button>
  </div>

  <div class="relative flex items-center">
    <input type="text" [(ngModel)]="value" (ngModelChange)="onInputChange($event)"
      class="w-52 h-10 pl-10 border rounded-full focus:outline-none focus:border-cyan-900 text-cyan-900" />
    <i class="fas fa-search absolute left-3 text-cyan-900 cursor-pointer"></i>
  </div>
  <div class="col-lg-2 col-md-12 d-none d-md-block">
    <h3 class="text-right mb-4 mr-2 text-xl text-cyan-900 font-semibold">Mostrando {{page?.numberOfElements}} de
      {{page?.totalElements}}</h3>
  </div>
  <!-- Contenido de valoraciones como tabla -->
  <div class="overflow-x-auto mb-5">
  <table class="table is-fullwidth is-hoverable is-rounded has-shadow">
    <thead class="has-background-primary">
      <tr>
        <th (click)="doOrder('date')" class="has-text-centered is-size-5 has-text-white">Fecha</th>
        <th (click)="doOrder('title')" class="has-text-centered is-size-5 has-text-white">Titulo</th>
        <th (click)="doOrder('description')" class="has-text-centered is-size-5 has-text-white">Comentario</th>
        <th (click)="doOrder('user')" class="has-text-centered is-size-5 has-text-white">Usuario</th>
        <th (click)="doOrder('product')" class="has-text-centered is-size-5 has-text-white">Producto</th>
        <th class="has-text-centered is-size-5 has-text-white">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rating of page?.content" class="has-text-centered">
        <td>{{ rating.date | date: 'dd-MM-yyyy' }}</td>
        <td (click)="doView(rating)">{{ rating.title }}</td>
        <td>{{ rating.description }}</td>
        <td><a [routerLink]="['/admin', 'rating', 'plist', 'byuser', rating.user.id]"> {{ rating.user.name }}</a></td>
        <td><a [routerLink]="['/admin', 'rating', 'plist', 'byproduct', rating.product.id]"> {{ rating.product.name }}</a></td>
        <td>
          <a [routerLink]="['/admin', 'rating', 'edit', rating.id]" class="button is-primary is-small mr-2 is-rounded"
            title="Editar">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
          </a>
          <button class="button is-primary is-small mr-2 is-rounded" (click)="doView(rating)" title="Ver Detalles">
            <span class="icon">
              <i class="fas fa-eye"></i>
            </span>
          </button>
          <button (click)="doRemove(rating)" class="button is-danger is-small is-rounded" title="Eliminar">
            <span class="icon">
              <i class="fas fa-trash-alt"></i>
            </span>
          </button>
        </td>
      </tr>
    </tbody>
    <thead class="has-background-primary">
      <tr>
        <th (click)="doOrder('date')" class="has-text-centered is-size-5 has-text-white">Fecha</th>
        <th (click)="doOrder('title')" class="has-text-centered is-size-5 has-text-white">Titulo</th>
        <th (click)="doOrder('description')" class="has-text-centered is-size-5 has-text-white">Comentario</th>
        <th (click)="doOrder('user')" class="has-text-centered is-size-5 has-text-white">Usuario</th>
        <th (click)="doOrder('product')" class="has-text-centered is-size-5 has-text-white">Producto</th>
        <th class="has-text-centered is-size-5 has-text-white">Acciones</th>
      </tr>
    </thead>
  </table>
  </div>

  <!-- Mensaje si no hay valoraciones -->
  <div class="notification is-primary" *ngIf="!page?.content || page?.content?.length === 0">
    No hay valoraciones para mostrar.
  </div>

  <!-- Paginación -->
  <div class="flex-auto mx-auto">
    <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
      [first]="paginatorState.first!" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0"
      [rowsPerPageOptions]="[10, 20, 30]">
    </p-paginator>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>