<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h1 class="title is-3 text-cyan-900">Perfil
              <a class="is-primary ml-3 text-cyan-900" [routerLink]="['/user', 'user', 'edit', id]">
                <span class="icon">
                  <i class="fas fa-pen"></i>
                </span>
              </a>
              <a (click)="goBack()" class="text-2xl is-pulled-right text-cyan-900">
                <span class="icon">
                  <i class="fas fa-chevron-left"></i>
                </span>
                <span>Atrás</span>
              </a>
              
            </h1>
            <div class="columns">
              <div class="column is-half">
                <p class="has-text-primary"><b>Nombre de Usuario:</b> {{ user.username || 'Sin datos' }}</p>
                <p class="has-text-primary"><b>Primer apellido:</b> {{ user.surname || 'Sin datos' }}</p>
                <p class="has-text-primary"><b>Email:</b> {{ user.email || 'Sin datos' }}</p>
                <p class="has-text-primary"><b>Dirección:</b> {{ user.address || 'Sin datos' }}</p>
                <p class="has-text-primary"><b>DNI:</b> {{ user.dni || 'Sin datos' }}</p>
              </div>
              <div class="column is-half">
                <p class="has-text-primary"><b>Fecha de Nacimiento:</b> {{ user.birth_date | date }}</p>
                <p class="has-text-primary"><b>Número de Productos en el carrito:</b> {{ user.carts }}</p>
                <p class="has-text-primary"><b>Número de Valoraciones:</b> {{ user.ratings }}</p>
                <p class="has-text-primary"><b>Número de Compras:</b> {{ user.purchases }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>