<div class="container flex justify-center md:justify-end mr-1">
  <div class="columns">
    <div class="column">
      <div class="field has-addons">
        <div class="relative flex items-center">
          <input type="text" [(ngModel)]="value" (ngModelChange)="onInputChange($event)"
            class="w-96 h-10 pl-10 border rounded-full focus:outline-none focus:border-cyan-900 text-cyan-900" />
          <i class="fas fa-search absolute left-3  text-cyan-900 cursor-pointer"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="column mb-6">
  <h1 class="subtitle text-cyan-900">Categorías</h1>

  <!-- Utilizando botones en lugar de una lista -->
  <div class="buttons">
    <button *ngFor="let cat of category" class="button is-rounded is-small is-outlined categoria-item is-primary" (click)="filtrarPorCategoria(cat.id)"
      [class.active]="cat.id === idCategoriaFiltrada && filtrandoPorCategoria">
      {{ cat.name }} ({{ cat.product }})
    </button>
    <button *ngIf="filtrandoPorCategoria" type="button" (click)="quitarFiltro()" class="button is-danger is-small is-outlined ml-2">Quitar
      filtro</button>
  </div>
  <!-- Botón "Quitar filtro" con estilo de Bulma -->
</div>

  <!-- Columna de Categorías -->
  <!-- Columna de Productos -->
  
    <div class="columns is-multiline"> <!-- Add custom-align-right class -->
      <ng-container *ngFor="let product of products">
        <div class="column is-one-quarter-desktop is-one-third-tablet">
          <div style="min-width: 230px" class="card">
            <div class="card-image">
              <figure class="image is-3by4">
                <img [src]="product.image" alt="Imagen del producto" (click)="doView(product)">
              </figure>
            </div>
            <div class="card-content">
              <p style="height: 80px" class="font-semibold text-xl text-cyan-950">{{ product.name }}</p>
              <p style="position: relative" class="text-xl text-cyan-950">Precio: {{ product.price }}€</p>
              <p class="text-xl font-normal mt-3 text-cyan-900" *ngIf="product.stock === 0 && username">Sin existencias</p>
            </div>

            <footer class="card-footer" *ngIf="username && product.stock != 0">
              <button class="card-footer-item button is-primary" (click)="makeProductPurhase(product)"
                [disabled]="product.stock === 0">
                Comprar<i class="fas fa-credit-card ml-2"></i>
              </button>
              <button class="card-footer-item button is-primary" (click)="agregarAlCarrito(product)"
                [disabled]="product.stock === 0">
                Añadir<i class="fas fa-shopping-basket ml-1"></i>
              </button>
            </footer>
          </div>
        </div>
      </ng-container>


    </div>
    <div class="flex-auto mx-auto">
      <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
        [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!" [totalRecords]="page?.totalElements || 0">
      </p-paginator>
    </div>


  <p-confirmPopup></p-confirmPopup>