<div class="container">
  <div class="relative flex items-center">
    <input type="text" [(ngModel)]="value" (ngModelChange)="onInputChange($event)"
      class="w-52 h-10 pl-10 border rounded-full focus:outline-none focus:border-cyan-900 text-cyan-900" />
    <i class="fas fa-search absolute left-3 text-cyan-900 cursor-pointer"></i>
  </div>
  <div class="col-lg-2 col-md-12 d-none d-md-block">
    <h3 class="text-right mb-4 mr-2 text-xl text-cyan-900 font-semibold">Mostrando {{page?.numberOfElements}} de
      {{page?.totalElements}}</h3>
  </div>
  <!-- Contenido de usuarios como tabla -->
  <table class="table is-fullwidth is-hoverable is-rounded has-shadow">
    <thead class="has-background-primary">
      <tr>
        <th (click)="doOrder('name')" class="has-text-centered is-size-5 has-text-white">Nombre</th>
        <th (click)="doOrder('stock')" class="has-text-centered is-size-5 has-text-white">Stock</th>
        <th (click)="doOrder('size')" class="has-text-centered is-size-5 has-text-white">Talla</th>
        <th (click)="doOrder('price')" class="has-text-centered is-size-5 has-text-white">Precio</th>
        <th class="has-text-centered is-size-5 has-text-white">Imagen</th>
        <th (click)="doOrder('category')" class="has-text-centered is-size-5 has-text-white">Categoria</th>
        <th class="has-text-centered is-size-5 has-text-white">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of page?.content" class="user-item has-text-centered">
        <td (click)="doView(product)">
          <p>{{ product.name }}</p>
        </td>
        <td>
          <p>{{ product.stock }}</p>
        </td>
        <td>
          <p>{{ product.size }}</p>
        </td>
        <td>
          <p>{{ product.price + "€" }}</p>
        </td>
        <td>
          <img [src]="product.image" alt="Imagen del producto" class="image is-64x64">
        </td>
        <td>
          <p>{{ product.category.name }}</p>
        </td>
        <td class="product-actions has-text-centered">
          <!-- Botones de CRUD a la derecha -->
          <a [routerLink]="['/admin', 'product', 'edit', product.id]" class="button is-primary is-small mr-2 is-rounded"
            title="Actualizar">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
          </a>
          <button class="button is-primary is-small mr-2 is-rounded" (click)="doView(product)" title="Ver Detalles">
            <span class="icon">
              <i class="fas fa-eye"></i>
            </span>
          </button>
          <button (click)="doRemove(product)" class="button is-danger is-small is-rounded" title="Eliminar">
            <span class="icon">
              <i class="fas fa-trash-alt"></i>
            </span>
          </button>
        </td>
      </tr>
    </tbody>
    <thead class="has-background-primary">
      <tr>
        <th (click)="doOrder('name')" class="has-text-centered is-size-5 has-text-white">Nombre</th>
        <th (click)="doOrder('stock')" class="has-text-centered is-size-5 has-text-white">Stock</th>
        <th (click)="doOrder('size')" class="has-text-centered is-size-5 has-text-white">Talla</th>
        <th (click)="doOrder('price')" class="has-text-centered is-size-5 has-text-white">Precio</th>
        <th class="has-text-centered is-size-5 has-text-white">Imagen</th>
        <th (click)="doOrder('category')" class="has-text-centered is-size-5 has-text-white">Categoria</th>
        <th class="has-text-centered is-size-5 has-text-white">Acciones</th>
      </tr>
    </thead>
  </table>

  <!-- Mensaje si no hay usuarios -->
  <div class="notification is-info" *ngIf="!page?.content || page?.content?.length === 0">
    No hay usuarios para mostrar.
  </div>

  <!-- Paginación -->
  <div class="flex-auto mx-auto">
    <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
      [first]="paginatorState.first!" [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0"
      [rowsPerPageOptions]="[10, 20, 30]">
    </p-paginator>
  </div>
</div>

  <p-confirmPopup></p-confirmPopup>