<div class="container">
  <!-- Menú desplegable para ordenar -->
  <div class="field">
    <label class="label">Ordenar por:</label>
    <div class="control">
      <div class="select has-text-centered">
        <select #selectEvent (change)="doOrder(selectEvent.value)">
          <option value="id">ID</option>
          <option value="name">Nombre</option>
          <option value="last_name1">Primer pellido</option>
          <option value="last_name2">Segundo Apellido</option>
          <option value="dni">DNI</option>
          <option value="birth_date">Fecha de nacimiento</option>
          <option value="city">Ciudad</option>
          <option value="address">Dirección</option>
          <option value="postal_code">Código postal</option>
          <option value="phone_number">Teléfono</option>
          <option value="email">Email</option>
          <option value="username">Usuario</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Contenido de usuarios como tabla -->
  <table class="table is-bordered is-fullwidth is-hoverable has-text-centered">
    <thead>
      <tr>
        <tr>
          <th class="has-text-centered">Nombre</th>
          <th class="has-text-centered">Stock</th>
          <th class="has-text-centered">Talla</th>
          <th class="has-text-centered">Precio</th>
          <th class="has-text-centered">Imagen</th>
          <th class="has-text-centered">Categoria</th>
          <th class="has-text-centered">Acciones</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of page?.content" class="user-item">
        <td (click)="doView(product)">
          <p>{{ product.name }}</p>
        </td>
        <td>
          <p>{{ product.stock }}</p>
        </td>
        <td>
          <p>{{ product.size }}</p>
        </td>
        <td>
          <p>{{ product.price + "€" }}</p>
        </td>
        <td>
        <img [src]="product.image" alt="Imagen del producto" class="image is-64x64">
        </td>
        <td>
          <p>{{ product.category.name }}</p>
        </td>
        <td class="user-actions">
          <!-- Botones de CRUD a la derecha -->
          <a [routerLink]="['/admin', 'product', 'edit', product.id]" class="button is-primary is-small mr-2" title="Actualizar">
            <i class="fas fa-edit"></i>
          </a>
          <button class="button is-success is-small mr-2" (click)="doView(product)" title="Ver Detalles">
            <i class="fas fa-eye"></i>
          </button>
          <button class="button is-warning is-small mr-2" title="Vista Alternativa">
            <i class="fas fa-exchange-alt"></i>
          </button>
          <button  (click)="doRemove(product)" class="button is-danger is-small " title="Eliminar">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Mensaje si no hay usuarios -->
  <div class="notification is-info" *ngIf="!page?.content || page?.content?.length === 0">
    No hay usuarios para mostrar.
  </div>

  <!-- Paginación -->

    
  <p-paginator (onPageChange)="onPageChange($event)" [first]="paginatorState.first!"
            [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 50]"
            class="mx-2"></p-paginator>

<p-confirmPopup></p-confirmPopup>