<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <button class="button is-primary is-fullwidth" (click)="doGenerateRandom(10)" [disabled]="bLoading">
          Generar categorias
        </button>
      </div>
      <div class="column is-one-third">
        <button class="button is-danger is-fullwidth" (click)="doEmpty($event)" [disabled]="bLoading">
          Eliminar categorias
        </button>
      </div>
      <div class="column is-one-third">
        <a class="button is-danger is-fullwidth" [routerLink]="['/admin', 'category', 'new']">
          Crear categoria
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="has-text-centered" *ngIf="bLoading">
          <mat-spinner diameter="30" color="accent"></mat-spinner>
        </div>
      </div>
    </div>
    <app-admin-category-plist-unrouted [forceReload]="forceReload" *ngIf="!bLoading"></app-admin-category-plist-unrouted>
  </div>
</div>


<p-confirmPopup></p-confirmPopup>