<div class="table-container">
  <table class="table is-fullwidth is-hoverable is-rounded has-shadow">
    <thead class="has-background-primary">
      <tr>
        <th (click)="doOrder('id')" class="has-text-centered is-size-5 has-text-white">ID</th>
        <th (click)="doOrder('name')" class="has-text-centered is-size-5 has-text-white">Nombre</th>
        <th (click)="doOrder('product')" class="has-text-centered is-size-5 has-text-white">Productos</th>
        <th class="has-text-centered is-size-5 has-text-white">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of page?.content" class="user-item has-text-centered">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.product }}</td>
        <td>
          <button class="button is-primary" (click)="onSelectCategory(category)">Seleccionar</button>
        </td>
      </tr>
    </tbody>
    <thead class="has-background-primary">
      <tr>
        <th (click)="doOrder('id')" class="has-text-centered is-size-5 has-text-white">ID</th>
        <th (click)="doOrder('name')" class="has-text-centered is-size-5 has-text-white">Nombre</th>
        <th class="has-text-centered is-size-5 has-text-white">Productos</th>
        <th class="has-text-centered is-size-5 has-text-white">Opciones</th>
      </tr>
    </thead>
  </table>
  <div class="paginator-container">
    <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
      [rows]="paginatorState.rows!" [totalRecords]="page?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]">
    </p-paginator>
  </div>
</div>