<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Información de la categoría
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <h5 class="title is-5">{{ category.name }}</h5>
            <p>Número de productos: {{category.product}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>