@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Grandstander:wght@100&family=Outfit:wght@100;300&family=Playfair+Display&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$primary_theme: #164e63;
$secondary: #94A3B8;
$hola: rgb(176, 186, 201);

// Update Bulma's global variables
$family-sans-serif: 'Arvo', serif;
$table-row-hover-background-color: $hola;
$grey-dark: $brown;
$grey-light: $secondary;
$primary: $primary_theme;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$button-hover-color: $purple;
$table-background-color: $secondary;
$has-text-info: $secondary;
$button-text-hover-color: $pink;
$button-hover-color: $pink;
$box-background-color: $secondary;
$has-background-light: $secondary;
$light: $secondary;
$card-background-color: $secondary;
$button-background-color: $primary_theme;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
