<div class="card box">
  <div class="card-content">
    <div class="columns">
      <!-- Columna para la imagen -->
      <div class="column is-4">
        <figure class="image is-4by3 box">
          <img [src]="product.image" alt="Imagen del producto" class="img-fluid"
            style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        </figure>
      </div>

      <!-- Columna para la información del producto y botones -->
      <div class="column is-8">
        <!-- Información del producto -->
        <div class="column is-12">
          <h1 class="text-4xl font-medium text-cyan-900">{{ product.name }}</h1>
          <h2 class="text-xl font-normal text-cyan-900 mt-1">Precio: {{ product.price }}€ </h2>
          <p class="text-xl font-normal text-cyan-900" *ngIf="product.stock === 0">Sin existencias</p>
          <p class="text-xl font-normal text-cyan-900" *ngIf="product.stock > 0">En Existencias</p>
          <p class="text-xl font-normal text-cyan-900">Talla: {{ product.size }}</p>
        </div>

        <!-- Detalles de envío -->
        <div class="column is-12 mt-2">
          <h2 class="text-3xl font-medium text-cyan-900">Detalles de envío</h2>
          <p class="text-xl font-normal text-cyan-900 mt-1 ml-1">
            <span class="icon is-small mr-3">
              <i class="fas fa-clock"></i>
            </span>
            Entrega en 4-8 días laborables.
          </p>
          <p class="text-xl font-normal text-cyan-900 ml-1">
            <span class="icon is-small mr-3">
              <i class="fas fa-truck"></i>
            </span>
            Envío gratuito para pedidos superiores a 50€.
          </p>
          <p class="text-xl font-normal text-cyan-900 ml-1">
            <span class="icon is-small mr-3">
              <i class="fas fa-undo"></i>
            </span>
            Política de devoluciones de 30 días.
          </p>
        </div>

        <div class="field column is-4">
          <label class="label">Cantidad:</label>
          <div class="control">
            <input class="input" type="number" min="1" max="{{product.stock}}" [(ngModel)]="cantidadSeleccionada" (keydown)="handleKeyDown($event)">
          </div>
        </div>

        <!-- Botones debajo de la información del producto -->
        <div class="columns mt-2" *ngIf="username">
          <div class="column is-4">
            <button type="button" class="button is-primary is-fullwidth" (click)="agregarAlCarrito()" [disabled]="product.stock === 0">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
              Añadir al carrito
            </button>
          </div>
          <div class="column is-4">
            <button type="button" class="button is-primary is-fullwidth" (click)="comprarDirectamente()" [disabled]="product.stock === 0">
              <span class="icon">
                <i class="fas fa-credit-card"></i>
              </span>
              <span>Comprar</span>
            </button>
          </div>
          <div class="column is-4">
            <button type="button" class="button is-primary is-fullwidth" (click)="realizarValoracion(product)">
              <span class="icon">
                <i class="fas fa-credit-card"></i>
              </span>
              <span>Valorar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-cyan-900 text-3xl font-semibold mb-5 mt-8">Valoraciones</h1>

<div class="card box">
  <div class="card-content ">
    <div class="columns is-multiline">
      <div class="column is-one-third" *ngFor="let rating of page?.content">
        <div class="card bg-slate-300">
          <div class="card-header">
            <p class="card-header-title text-cyan-900 text-lg">{{rating.user.username}}</p>
            <p class="card-header-icon text-cyan-900">{{rating.date| date: 'dd-MM-yyyy'}}</p>
            <button *ngIf="isUsuarioValoracion(rating)" class="button is-danger is-rounded is-small mt-3 mr-2"
              (click)="borrarValoracion(rating.id)">
              <span class="icon is-small">
                <i class="fas fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <div class="card-content">
            <div class="content text-cyan-900">
              {{rating.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="notification is-primary" *ngIf="!page?.content || page?.content?.length === 0">
    No hay valoraciones para mostrar.
  </div>
</div>

<p-confirmPopup></p-confirmPopup>